/* .section {
    background: #b8b201;
    display: flex;
    flex-flow: row wrap;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    line-height: 1.5;
}

h2 {
    margin: 0;
    padding-top: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 3.35rem;
}

.img-container {
    border: 5px solid #b50202;
    margin: 10px auto;
    width: 9em;
    height: 300px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
} */